name: Build and Push Docker Image

# on:
#   push:
#     branches: [ br1-docker"" ]

on:
  push:
    tags: 
      - 'v*' # triggers on tags like v1.0.0, v2.1.3, etc.

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout vcs repo
      uses: actions/checkout@v4

    - name: Log in to Azure Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ secrets.ACR_LOGIN_SERVER }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}


    # - name: Log in to Docker Hub
    #   uses: docker/login-action@v3
    #   with:
    #     username: ${{ secrets.DOCKERHUB_USERNAME }}
    #     password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ${{ secrets.ACR_LOGIN_SERVER }}/weatherapp:${{ github.ref_name }}
          ${{ secrets.ACR_LOGIN_SERVER }}/weatherapp:latest        
          # ${{ secrets.DOCKERHUB_USERNAME }}/weatherapp:latest
          # ${{ secrets.DOCKERHUB_USERNAME }}/weatherapp:${{ github.ref_name }}